@media all and (min-width: 768px){
    .burger-btn{
        display: none;
    }
    .planet-list{
        display: flex;
        margin-left: 8%;
        gap: 33px;

    }

    .small-planet{
        display: none;
    }
    .medium-planet{
        display: block;
    }
    .website_list{
        display: none;
    }

        .particular_planet{
            margin-top: 146px;
        }
        .first-hr{
            display: none;
        }
        .main-menu{
            justify-content: center;
        }
        .options{
            display: flex;
        }

}
@media all and (min-width: 1440px){
    .medium-planet{
        display: none;
    }
    .larg-planet{
        display: block;
    }
    .planet_name{
        font-size: 80px;

        }
        .particular_planet{
            margin-top: 242px;
        }
        .wikipedia_address{
            margin-top: 24px;
        }
        .descrip{
            font-size: 11px;
        }
}

