@media all and (min-width: 768px){
    .headerAndNavigation{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .burger-btn{
        display: none;
    }
    .headMenu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-links{
        display: flex;
        margin-top: 39px;
        margin-right: 15px;
        margin-bottom: 20px;
        gap: 20px;
    }
    .mainLine{
        background-color: #FFF;
        opacity: .2;
        mix-blend-mode: normal;
    }
    .headVar{
        display: none;
    }
    .headInfo{
        display: flex;
        flex-direction: column;
    }
    .option{
        border: 1px solid rgba(255, 255, 255, .2);
        width: 281px;
        height: 40px;
        display: flex;
    }
    .number{
        display: flex;
        color: #FFF;
        opacity: .5;
        font-family: Spartan;
        font-style: normal;
        font-weight: 700;
        margin-right: 17px;
        margin-left: 20px;
        letter-spacing: 1.92857px;
        line-height: 25px;
        font-size: 12px;
    }
    h1{
        opacity: 1;
        text-align: left;
        font-size: 12px;
        line-height: 25px;
        font-weight: 700;
    }
    .rectangle{
        display: none;
    }
    .mainPart{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .planet{
        justify-content: center;
        width: 270px;
        height: 270px;
    }.options{
        display: flex;
    }
    .textAndOptions{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .textAndSource{
        align-items: normal;
        margin-left: 39px;
    }
    .planet_description{
        text-align: left;
        margin-left: 0;
    }
    .info{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 22px;
    }
    .wikipedia_address{
        display: flex;
        justify-content: left;
    }
    .infocontainer{
        width: 164px;
        height: 88px;
        border: 1px solid #ffffff;
        display:flex ;
        flex-direction: column;
        justify-content: center;
        align-items: normal;
    }
    .descrip{

        font-size: 12px;
        margin-left: 15px;
    }
    .numb_descrip{

        font-size: 25px;
        margin-left: 15px
    }


    
    
    

}
@media all and (min-width: 1440px){
    .headerAndNavigation{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        margin-right: 41px;
        margin-left: 32px;
    }
    .menu-links li{
        font-size: ;
    }
    .option{
        width: 350px;
        margin-left: 0;
        margin-right: 0;
        cursor: pointer;
    }
    .mainPart{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        margin-top: 126px;
        margin-left: 165px;
        margin-right: 165px;
    }
    .planet{
        margin-left: 150px;
        width: 290px;
        height: 290px;
    }
    .textAndOptions{
        flex-direction: column;
        margin: 0;
    }
    .planetName{
        font-size: 80px;
    }
    .planet_description{
        margin-top: 45px;
        text-align: left;
        width: 350px;
        font-size: 14px;
        color: #ffffff80;
    }
    .info{
        margin-top: 55px;
    }
    .infocontainer{
        width: 255px;
        height: 128px;
    }
    .descrip{
        font-size: 11px;
    }
    .numb_descrip{
        font-size: 40px;
    }
}

