@font-face {
    font-family: Antonio;
    src: url("../assets/fonts/Antonio/Antonio-VariableFont_wght.ttf");
}
@font-face {
    font-family: Spartan;
    src: url("../assets/fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf");
}

body{
    min-width: 375px;
    width: 100%;
    height: auto;
    background-size: cover;
    background-color: #070724;
    background-image: url("../assets/images/background-stars.svg");
}
h1,h2,p, li{
    color: white;
}
h1, h2{
    font-family: Antonio;
}
p, li{
font-family: Spartan;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: unset;
}
img{
    max-width: 100%;
    height: auto;
}
button{
    background: none;
    border: none;
}
