
body{
    min-width: 375px;
    width: 100%;
    height: auto;
    background-color: #070724;
    background-image: url("../assets/images/background-stars.svg");
}
h1,h2,p, li{
    color: white;
}
h1, h2{
    font-family: Antonio;
}
p, li{
font-family: Spartan;
}
/*
header
*/
.website_name{
    font-family: Antonio;
    font-size: 28px;
    color: #FFF;
    letter-spacing: -1.05px;
    margin: 16px 0 16px 24px;

}
.main-menu{
    display: flex;
    justify-content: space-between;
}
.burger-btn{
margin-top: 15px;
margin-right: 24px;
}
header{
    padding: 16px 24px 16px 16px;
    display: flex;
    justify-content: space-between;
}
.planet-list{
    display: flex;
    justify-content: space-between;
    display: none;
}
hr{
    opacity: .2;
    mix-blend-mode: normal;
    color: #FFF;
}
.website_list{
    display: flex;
    font-size: 9px;
    justify-content: space-around;
    padding: 20px 24px 20px 24px;
    color: #FFF;
}

/*
pictures of planets
*/
.medium-planet{
    display: none;
}
.larg-planet{
    display: none;
}

/*
planet information
*/

.particular_planet{
    display: flex;
    justify-content: center;
    margin-top: 95px;
}

.planet_info{
    display: flex;
    flex-direction: column;
    align-items: normal;
    margin-left: 39px;

}

.planet_name{
    font-family: Antonio;
font-size: 40px;
text-align: center;
margin-top: 98px;
}
.planet_description{
    font-family: spartan;
    margin: 16px 24px 32px;
    text-align: center;
    color: #FFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
.wikipedia_address{
    display: flex;
    justify-content: center;
    font-family: Spartan;
    color: #FFFFFF;
    gap: 4px;
    margin-top: 32px;
}
.wikipedia_address address{
    text-decoration: underline;
}
.option-item{
    font-family: Spartan;
    font-size: 9px;
    width: 281px;
    height: 40px;
    border:  solid rgba(255, 255, 255, .2);
}
.options{
display: none;
}
.text-and-option{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
/*
planet statistics
*/

.rotation, .radius, .revolution, .temp{
    width: 327px;
    border: 1px solid white;
    align-items: center;
    margin-top: 8px;
}
.box{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
.statistics{
    margin-left: 24px;
    margin-top: 28px;
    margin-bottom: 47px;
    color: #FFF;
    justify-content: center;
   
}
.descrip{
    font-family: Spartan;
    font-size: 8px;
    color: #FFF;
}
.numb_descrip{
    font-family: Antonio;
    font-size: 20px;
}
