

/*
header
*/

.headerAndNavigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.website_name{
    font-family: Antonio;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    color: #FFF;
    letter-spacing: -1.05px;
    margin: 16px 0 16px 24px;

}

.burger-btn{
margin-top: 15px;
margin-right: 24px;
letter-spacing: 1.93px;
font-weight: 700;
line-height:10.08px;
}
.burger-btn.is-active:before {
	transform: rotate(-45deg) translate(-8px, 6px);
}
.burger-btn.is-active:after {
	transform: rotate(45deg) translate(-9px, -8px);
}
.headMenu{
    display: none;
}
.mainLine{
    background-color: #FFF;
    opacity: .2;
    mix-blend-mode: normal;
}
.textAndOption .headInfo{
    display: none;
}
.headInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headInfo h1{
    font-family: Sparta;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    opacity: .5;
}


/*
Main part of the body
*/

.website_list{
    display: flex;
    font-size: 9px;
    justify-content: space-around;
    padding: 20px 24px 20px 24px;
}
.mainPart{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.planet{
    margin-top: 95px;
    margin-left: 35%;
    margin-bottom: 95px;
    width: 111px;
    height: 111px;
}
.planetName{
    font-family: Antonio;
    font-style: normal;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 40px;
}
.options, .number, span{
    display: none;
}

.option{
    margin: 24px 20px 0;
}

.rectangle{
    width: 80px;
    height: 4px;
    margin-top: 17px;
}

.textAndOption{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.textAndSource{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.planet_name{
    font-family: Antonio;
font-size: 40px;
text-align: center;
margin-top: 98px;
text-transform: uppercase;
}
.planet_description{
    margin: 16px 24px 32px;
    text-align: center;
    font-family: Spartan;
    font-style: normal;
    color: #FFF;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.wikipedia_address{
    font-size: 13px;
    opacity: .5;
    display: flex;
    justify-content: center;
    font-family: Spartan;
    color: #FFF;
    gap: 4px;

}
.wikipedia_address address{
    text-decoration: underline;
}


/*
planet statistics
*/

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 28px 24px 48px;
}
.infocontainer{
    height: 48px;
    border: 1px solid #ffffff;
    display:flex ;
    color: #FFF;
    justify-content: space-between;
    align-items: center;
}


.descrip{
    opacity: .5;
    font-style: normal;
    font-weight: 700;
    font-family: Spartan;
    font-size: 14px;
    letter-spacing: .727273px;
    line-height: 16px;
    margin-left: 24px;
    color: #FFF;
}
.numb_descrip{
    font-family: Antonio;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -.75px;
    margin-right: 24px;
}
